*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    /* font-size: 1rem; */
}
/* -----------main navbar---------------- */
.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(19, 25, 33);
    color: white;
    display: flex;
    justify-content: space-around;
}
.logo_img{
    
    height: 45px;
    width: 115px;
    padding: 10px 8px 0px 6px;
    margin-top: 4px;
}
.white_border{
    border: 1.5px solid transparent;
}
.white_border:hover{
    border: 1.5px solid white;
}
.nav_address{
    margin: 5px 5px 5px 0px;
    padding: 5px 0px 0px 2px;
}
#address{
    color: #CCCCCC;
    font-size: 12px;
    padding-left: 14px;
}
.nav_address_info{
    display: flex;
    font-size: 14px;
    padding-right: 10px;
}
.nav_search{
    display: flex;
    padding: 10px 0px 0px 0px;
}
#navselect{
    background-color: #ffffffe6;
    color: rgb(102, 102, 102);
    height: 39px;
    width: 50px;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    z-index: 5;
    border: transparent;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}
#navsearch_box{
    padding: 0px;
    width: 550px;
    padding: 7px 10px 10px 0px;
    height: 40px;
    position: sticky;
    margin-left: -2px;
    margin-right: 2px;
    z-index: 1;
    font-size: 16px;

}
#searchbtn{
    background-color: #febd69;
    height: 40px;
    width: 45px;
    padding: 0px;
    border: transparent;
    margin-left: -5px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}
.fa-solid{
    font-size: 17px;
}
.lang{
    background-color:rgb(19, 25, 33);
    color: white;
    font-size: 18px;
    width: 43px;
}
.selectlang{
    padding: 12px 5px 0px 5px;
    margin: 5px 0px 5px 5px;
}
#signinpg,#return{
    text-decoration: none;
    color: white;
}
.signin{
    padding: 2px 4px 7px 7px;
    margin: 5px 2px 5px 2px;
}
#hello, #return{
    font-size: 12px;
}
#accounts, #orders{
    font-size: 14px;
    font-weight: bold;
}
.return{
    margin: 5px 0px 6px 0px;
    padding: 7px 5px 7px 5px;
}
.nav_cart{
    display: flex;
    margin: 5px 0px 5px 0px;
    padding: 15px 5px 15px 5px;
}
#cart_text{
    font-size: 12px;
    padding-bottom: 0px;
    height: 30px;
}
#navcart{
    text-decoration: none;
    color: white;
}

 /* -----------secondary navbar--------------- */
 
.sec_navbar{
    background-color: rgb(34, 46, 61);
    height: 39px;
    display: flex;
    justify-content: start;
}
.sec_nav_all_menu{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 10px 45px 8px 9px;
    margin: 0px 0px 0px 2px;
    width: 40px;
}
#sec_nav_all_menu_text{
    font-size: 16px;
}
.sec_nav_todays_deal{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 9px 5px 7px 8px;
    margin: 0px 0px 0px 5px;
    width: 106px;
}
.sec_nav_registry{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 9px 5px 7px 8px;
    margin: 0px 0px 0px 5px;
    width: 70px;
}
.sec_nav_prime_video{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 9px 5px 7px 8px;
    margin: 0px 0px 0px 5px;
    width: 95px;
}
.sec_nav_gift_card{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 9px 5px 7px 8px;
    margin: 0px 0px 0px 5px;
    width: 75px;
}
.sec_nav_customer_service{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 9px 0px 7px 5px;
    margin: 0px 0px 0px 5px;
    width: 122px;
}
.sec_nav_sell{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 9px 5px 7px 5px;
    margin: 0px 0px 0px 5px;
    width: 38px;
}

/* ------------homepage image------------ */
.main_content{
    display: inline-block;
}
.main_content_advertisement{
    position: absolute;
    height: 500px;
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);; 
    z-index: 2;
}

/* -------------main content box--------- */
.content{
    display: flex;
    justify-content: space-between;
}
    /* ------------content1-------------- */
    .content1{
        width: 285px;
        height: 370px;
        background-color: white;
        position: relative;
        top: 250px;
        left: 30px;
        padding: 0px 15px 0px 15px;
        margin-right: 20px;
        z-index: 3;
    }
    #main_content1_text{
        font-size: 21px;
        padding: 20px 0px 0px 0px;
    }

    .content1_pic{
        display: flex;
        justify-content: space-evenly;
    }
    .main_content1_pict1-3{
        margin: 0;
        padding-top: 10pxp;

    }
    #main_content1_pic1, #main_content1_pic3, #main_content2_pic1, #main_content2_pic3{
        width: 138px;
        height: 115px;
        object-fit: cover;
        padding: 0px 10px 0px 0px;
    }
    .content1_text_pic1, .content1_text_pic3{
        color: rgb(44, 46, 46);
        font-size: 12px;
    }

    .main_content1_pict2-4{
        margin: 0;
        padding-top: 10pxp;

    }
    #main_content1_pic2, #main_content1_pic4, #main_content2_pic2, #main_content2_pic4{
        width: 120px;
        height: 115px;
        object-fit: cover;
    }
    .content1_text_pic2, .content1_text_pic4{
        color: rgb(44, 46, 46);
        font-size: 12px;
    }
    .content1_link{
        text-decoration: none;
        font-size: 12px;
    }

    /* ----------------content3--------------------
    */
    .content3{
        width: 285px;
        height: 370px;
        background-color: white;
        position: relative;
        top: 250px;
        left: 30px;
        padding: 0px 15px 0px 15px;
        z-index: 3;
        margin-right: 20px;
    }
    #main_content3_text{
        font-size: 21px;
        padding: 20px 0px 0px 0px;
    }

    .content3_pic{
        display: flex;
        justify-content: center;
    }
    .main_content3_pict1-3{
        margin: 0;
        padding-top: 10pxp;

    }
    #main_content3_pic1{
        width: 270px;
        height: 290px;
        object-fit: cover;
        padding: 5px 10px 0px 8px;
    }
    .content3_text_pic1{
        color: rgb(44, 46, 46);
        font-size: 12px;
    }
    .content3_link{
        text-decoration: none;
        font-size: 12px;
    }

        /* ----------------content4--------------------
    */
    .content4{
        width: 285px;
        height: 370px;
        background-color: white;
        position: relative;
        top: 250px;
        left: 30px;
        padding: 0px 15px 0px 15px;
        z-index: 3;
        
    }
    #main_content4_text{
        font-size: 21px;
        padding: 20px 0px 0px 0px;
    }

    .content4_pic{
        justify-content: center;
    }
    .main_content4_pict1-3{
        margin: 0;
        padding-top: 10pxp;

    }
    #main_content4_pic1{
        width: 270px;
        height: 150px;
        object-fit: cover;
        padding: 5px 10px 0px 0px;
    }
    .content4_text_pic{
        color: rgb(44, 46, 46);
        font-size: 12px;
    }
    .main_content4_pic2-3-4{
        display: flex;
    }
    #content4_pic{
        width: 88px;
        height: 75px;
        padding-right: 5px;
    }

    .content4_link{
        text-decoration: none;
        font-size: 12px;
    }

/* ---------------------footer------------------ */
.footer_main{
    background-color: black;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 100%;
    bottom: 0;
}
main{
    position: relative;
}

    